body {
  font-weight: 500;
}

.nav-icon {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 300px;
  gap: 60px;
  color: white;
}
.active {
  border: 1px white solid;
  border-radius: 50px;
  color: white;
  padding: 7px;
}
