body {
  text-align: center;
}

.navbar {
  background-color: red;
  color: white;
}

.navbar-nav .nav-link.active {
  color: white;
}

.nav-link {
  color: white;
}

.active {
  border: 1px white solid;
  border-radius: 50px;
  color: white;
}
